# Google Drive OAuth Credentials (Desktop App)
# Obtain your Desktop Application OAuth 2.0 Credentials from Google Cloud Console:
# https://console.cloud.google.com/apis/credentials
VITE_GDRIVE_CLIENT_ID=your_gdrive_client_id_here.apps.googleusercontent.com
VITE_GDRIVE_CLIENT_SECRET=your_gdrive_client_secret_here
