# Google Drive OAuth Credentials (Browser Extension)
# Obtain your OAuth 2.0 Client ID from Google Cloud Console:
# https://console.cloud.google.com/apis/credentials
VITE_GDRIVE_CLIENT_ID=your_gdrive_client_id_here.apps.googleusercontent.com
